/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, #root, .page{
  height: 100%;
  margin: 0;
  width: 100%;
}

footer{
  /* justify-content: space-around; */
  background: #104da1;
  height: 130px;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.upper-footer{
  font-size: 19px;
  color: #4c7bd9;
  text-align: center;
  padding-top: 10px;
}

.lower-footer{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.linkedin{
  max-width: 40px;
  max-height: 40px;
  padding: 10px;
}

.header-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 66px;
  background: #104da1;
  border-bottom: 1px solid hsla(0,0%,100%,.25);
}

.navlogo, .profpic{
  margin-left: 30px;
  width: 42px;
  height: 42px;
  border-radius: 100%;
}

.profpic{
  margin: 15px;
}

.left-nav{
  /* justify-content: flex-start; */
  padding-top: 10px;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.left-nav a{
  /* align-self: center center; */
  padding-left: 20px;
  color: #d6e1f9;;
  text-decoration: none;
  font-weight: 100;
  font-size: 17px;
}

.browsinma{
  padding-top: 12px;
}
.left-nav a:hover{
  color: white;
}

.left-nav span{
  vertical-align: center;
  padding-left: 20px;
}

.right-nav{
  /* justify-content: flex-end; */
  /* align-self: center; */
  display: flex;
  justify-content: space-between;
}

.header-button{
  margin-right: 30px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 9px;
  background-color: #30b7c4;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

.header-button p{
  line-height: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-button:hover{
  cursor: pointer;
  background-color: #4fc5d0;
}
