/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, #root, .page{
  height: 100%;
  margin: 0;
  width: 100%;
}

footer{
  /* justify-content: space-around; */
  background: #104da1;
  height: 130px;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.upper-footer{
  font-size: 19px;
  color: #4c7bd9;
  text-align: center;
  padding-top: 10px;
}

.lower-footer{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.linkedin{
  max-width: 40px;
  max-height: 40px;
  padding: 10px;
}

.header-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 66px;
  background: #104da1;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
}

.navlogo{
  padding: 15px;
  padding-left: 30px;
  max-width: 40px;
  max-height: 40px;
}

.left-nav{
  /* justify-content: flex-start; */
  align-self: center;
}

.right-nav{
  /* justify-content: flex-end; */
  align-self: center;
}
