// Place all the styles related to the api::messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-container{
  background-color: #FFF0F2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .messagethread-index-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    .button{
      background-color: #FFF0F2;
    }
    .messagethread-index-item{
      :hover{
        cursor: pointer;
      }
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      .messagethread-index-left{
        img{
          border-radius: 50%;
          width: 100px;
          height: 100px;
        }
      }
      .messagethread-index-right{
        display: flex;
        width: 100%;
        height: 100px;
        flex-direction: column;
        .messagethread-index-topright{
          padding-top: 10px;
          padding-bottom: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          font-size: 17px;
          font-weight: bold;
          .mthreadindexlast{
            font-size: 10px;
            font-weight: 400;
          }
        }
        .messagethread-index-bottomright{
          font-size: 13px;
          align-self: flex-start;
          padding-left: 15px;
        }
      }
    }
  }
}
