// Place all the styles related to the api::messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-container{
  background-color: #FFF0F2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 80vh;
  .messagethread-index-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-bottom: 40px;
    .button{
      background-color: #FFF0F2;
    }
    .messagethread-index-item{
      :hover{
        cursor: pointer;
      }
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      .messagethread-index-left{
        img{
          border-radius: 50%;
          width: 100px;
          height: 100px;
          margin-right: 15px;
        }
      }
      .messagethread-index-right{
        display: flex;
        width: 100%;
        height: 100px;
        flex-direction: column;
        .messagethread-index-topright{
          padding-top: 10px;
          padding-bottom: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 17px;
          font-weight: bold;
          align-items: center;
          .toprightleftlolpnouns{
            font-weight: 300;
            margin-left: 10px;
            font-size: 17px;
            align-self: center;
          }
          .mthreadindexlast{
            font-size: 10px;
            font-weight: 400;
          }
        }
        .messagethread-index-bottomright{
          font-size: 13px;
          align-self: flex-start;
        }
      }
    }
  }
  .messages-container{
    height: inherit;
    margin-top: 20px;
    margin-bottom: 40px;
    // align-items: center;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    .messages-topcontainer{
      // align-self: center;
      height: 15vh;
      background-color: white;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: 30px;
        margin-left: 40px;
      }
      .messages-toprightcontainer{
        display: flex;
        align-items: center;
        font-size: 25px;
        font-weight: 200;
        .messages-screenname{
          font-weight: 500;
          font-size: 30px;
        }
        span{
          margin: 10px;
        }
      }

    }
    .message-middlecontainer{
      width: inherit;
      align-self: center;
      margin-left: 10px;
      margin-right: 10px;
      flex-direction: column;
      .message-index-item-container{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 10px;
        width: inherit;
        p{
          border-radius: 5px;
          // min-height: 40px;
          font-size: 17px;
          padding: 10px;
          text-align: center center;
          max-width: 50%
        }
        .Message-Sender{
          background: #4c7bd9;
          color: white;
          margin-left: auto;
          margin-right: 5%;
        }
        .Message-Receiver{
          background: #ebedf2;
          color: black;
          margin-left: 5%;
          margin-right: auto;
        }
      }
    }

  }
}
