// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-container {
  height: 80vh;
  width: 100vw;
  background-color: #FFF0F2;
  .profile{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'GT America',sans-serif;
    font-weight: 300;
    font-size: 35px;
    .top-bar{
      padding-left: 250px;
      align-items: center;
      display: flex;
      flex-direction: row;
      background-color: #104da1;
      height: 200px;
      background-size: 100px 100px;
      .top-info{
        width: 100%;
        padding-left: 200px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        .screen-name{
          padding-bottom: 15px;
        }
        .top-sub-info{
          .drama-dot{
            color: #9dbaf2;
            position: relative;
            bottom: 5px;
          }
          width: 250px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 19px;
        }
      }
    }
    .bottom{
      color: black;
      display: flex;
      flex-direction: row;
      height: inherit;
      .bottom-left{
        padding-left: 280px;
        width: 510px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        color: black;
        .questions{
          color: #1e1e1e;
          font-size: 19px;
          font-weight: 500;
          padding-top: 30px;
        }
        .answers{
          color: #2a2f35;
          padding-top: 20px;
          font-size: 17px;
          word-wrap: break-word;
        }
      }
      .bottom-right{
        padding-top: 60px;
        font-size: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 50px;
        .bright-images{
          width: 30px;
          height: 30px;
          padding-right: 16px;
          align-self: center center;
        }
        .bright-container{
          display: flex;
          padding-bottom: 30px;
        }

        .bright-answers{
          padding-top: 5px;
        }
        .bwhite{
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
      }
    }
  }

  .profpicture {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin-right: 20px;
    position: absolute;
    top: 120px;
    // margin-top: 100px;
  }
}
