// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-container {
  background-color: #FFF0F2;
  .profile{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'GT America',sans-serif;
    font-weight: 300;
    font-size: 35px;
    .top-bar{
      padding-left: 250px;
      align-items: center;
      display: flex;
      flex-direction: row;
      background-color: #104da1;
      height: 200px;
      background-size: 100px 100px;
      .top-info{
        width: 100%;
        padding-left: 200px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        .screen-name{
          padding-bottom: 15px;
        }
        .top-sub-info{
          .drama-dot{
            color: #9dbaf2;
            position: relative;
            bottom: 5px;
          }
          width: 250px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 19px;
        }
      }
    }
    .bottom{
      color: black;
      display: flex;
      flex-direction: row;
      padding-bottom: 50px;
      .bottom-left{
        padding-left: 280px;
        width: 510px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        color: black;
        .questions{
          color: #1e1e1e;
          font-size: 19px;
          font-weight: 500;
          padding-top: 30px;
        }
        .answers{
          line-height: 25px;
          color: #2a2f35;
          padding-top: 18px;
          font-size: 17px;
          word-wrap: break-word;
        }
      }
      .bottom-right{
        padding-top: 50px;
        font-size: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 50px;
        word-wrap: break-word;
        .bright-images{
          width: 20px;
          height: 25px;
          padding-right: 16px;
          padding-top: 5px;
          align-self: center center;
        }
        .bright-container{
          width: 350px;
          display: flex;
          flex-direction: row;
          padding-bottom: 20px;
        }

        .bright-answers{
          width: 300px;
          padding-top: 5px;
          line-height: 25px;
        }
        .bwhite{
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
        .looking-for{
          border: solid lightgrey 1px;
          display: flex;
          padding-left: 30px;
          padding-top: 20px;
          padding-bottom: 30px;
          width: 320px;
          border-radius: 4px;
          p{
          }
          .boldedgirl{
            padding-top: 5px;
            font-weight: 500;
            width: 150px;
          }
        }
      }
    }
  }

  .profpicture {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin-right: 20px;
    position: absolute;
    top: 120px;
    // margin-top: 100px;
  }

}
.index-container{
  background-color: #FFF0F2;
  width: 100%;
  .index-list{
    width: 70%;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .user-index-link{
    display: inline-block;
    overflow: hidden;
    background: white;
    width: 280px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid lightgrey;
    .user-index-photo{
      :hover{
        cursor: pointer;
      }
    }
    .screen-name-index{
      padding-top: 25px;
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 25px;
    }

    .agenloc{
      display: flex;
      flex-direction: row;
      align-self: center;
      color: #949aa6;
      .age-index{
        padding-right: 5px;
      }
      .drama-dot-index{
        span{
          position: relative;
          bottom: 4px;
        }
        padding-right: 5px;
      }
    }
    .pronouns-index{
      padding-top: 20px;
      padding-bottom: 30px;
      font-weight: 500;
      font-size: 25px;
    }
    img{
      transition: transform .2s;
      max-width: 280px;
      max-height: 280px;
      min-width: 280px;
      min-height: 280px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    img:hover{
      transform: scale(1.03);
    }
  }

}
