// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("splash_page.jpg");
  height: 100%;
  // background-size:     cover;
  // background-repeat:   no-repeat;
  background-position: center;
  display: flex;
  background-attachment: fixed;
  color: white;
  h1 {
    font-family: Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;
    font-size: 50px;
    color: #fff!important;
    text-align: right;
    // box-sizing: border-box;
    text-shadow: -1px 1px black,
                -2px 2px black,
                -3px 3px black,
                -4px 4px black,
                -5px 5px black,
                -6px 6px black,
                -7px 7px black,
                -8px 8px black,
                -9px 9px black,
                -10px 10px black;
  }
}
