// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // https://pixabay.com/en/flower-flowerpot-vase-colorful-3175428/
  animation: slideshow 10s linear infinite;
  transition-duration: 0.7s;

  @keyframes slideshow {
    // https://pixabay.com/en/flower-flowerpot-vase-colorful-3175428/
    0% {background-image: url(asset_path("splash-image1.jpg"));}
    // https://pixabay.com/en/candy-pink-sugar-sweet-baby-blue-791314/
    25% {background-image: url(asset_path("splash-image2.jpg"));}
    // Photo by Min An from Pexels
    // https://www.pexels.com/photo/landscape-photography-of-pink-petaled-flowers-913416/
    50% {background-image: url(asset_path("splash-image4.jpg"));}
    // https://unsplash.com/photos/1GRvY9WUu08
    75% {background-image: url(asset_path("splash-image5.jpg"));}
    // to go back to start
    100% {background-image: url(asset_path("splash-image1.jpg"));}
  }
  height: 100%;
  background-size:     cover;
  background-repeat:   repeat-x;
  background-position: center -10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-attachment: fixed;
  color: white;
  margin-left: 20px;

  .logo{
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 2px black;
    padding: 60px;
    padding-top: 40px;
    font-weight: 900;
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 70px;
  }

  h1 {
    // font-family: Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    font-size: 60px;
    color: #fff!important;
    padding-left: 60px;
    font-family: GT America,sans-serif;
    -webkit-text-stroke: 1px black;
    line-height: 70px;
    padding-bottom: 0px;
    // box-sizing: border-box;
    text-shadow: -1px 1px black,
                -2px 2px black,
                -3px 3px black,
                -4px 4px black,
                -5px 5px black,
                -6px 6px black,
                -7px 7px black,
                -8px 8px black;
  }
  .Description{
    padding-left: 60px;
    padding-top: 15px;
    font-size: 20px;
    color: black;
    line-height: 30px;
  }
  .login-signup{
    float: right;
    font-size: 12px;
    // margin: 50px;
    font-family: GT America,sans-serif;
    a{
      // border-radius: 5px;
      // border: 2px solid black;
      color: white;
      text-decoration: none;
      padding: 15px;
      // padding-bottom: px;
      color: black;
    }
    .login{
      // display: flex;
      // justify-content: space-between;
      position: absolute;
      top: 40px;
      right: 70px;
      font-family: GT America,sans-serif;
      .signin{
        border-radius: 5px;
        border: 1px solid black;
        // line-height: 10px;
      }
      span{
        margin: 20px;
        font-size: 14px;
        color: black;
      }
    }
    .signup{
      padding: 14px;
      margin-top: 70px;
      border-radius: 4px;
      border: 1px solid black;
      background-color: rgba(0,0,0,.5);
      a{
        font-size: 20px;
        color: white;
      }
    }
  }
  .fakeforms{
    padding-left: 60px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
      font-size: 17px;
      color: black;
      font-weight: bold;
      line-height: 40px;
    }
  }

  .forms{
    display: flex;
    flex-direction: row;
  }

  .fakeform{
    background: url(asset_path("expand-arrow.png")) no-repeat white;
    background-size: 15px;
    background-position: 90% 50%;
    width: 160px;
    height: 50px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 10px;


    select{
      background: transparent;
      width: 268px;
      padding: 5px;
      font-size: 19px;
      line-height: 1;
      border: 0;
      height: 50px;
      -webkit-appearance: none;
    }
  }
  select{
    text-indent: 10px;
  }
}
