// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  animation: slideshow 10s linear infinite;
  transition-duration: 0.7s;

  @keyframes slideshow {
    // https://pixabay.com/en/flower-flowerpot-vase-colorful-3175428/
    0% {background-image: url(asset_path("splash-image1.jpg"));}
    // https://pixabay.com/en/candy-pink-sugar-sweet-baby-blue-791314/
    25% {background-image: url(asset_path("splash-image2.jpg"));}
    // Photo by Min An from Pexels
    // https://www.pexels.com/photo/landscape-photography-of-pink-petaled-flowers-913416/
    50% {background-image: url(asset_path("splash-image4.jpg"));}
    // https://unsplash.com/photos/1GRvY9WUu08
    75% {background-image: url(asset_path("splash-image5.jpg"));}
    // to go back to start
    100% {background-image: url(asset_path("splash-image1.jpg"));}
  }
  height: 100%;
  background-size:     cover;
  background-repeat:   repeat-x;
  background-position: center -10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-attachment: fixed;
  color: white;
  margin-left: 20px;

  .logo{
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 2px black;
    padding: 150px;
    padding-top: 40px;
    font-weight: 900;
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 70px;
  }

  h1 {
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    font-size: 60px;
    color: #fff!important;
    padding-left: 150px;
    font-family: GT America,sans-serif;
    -webkit-text-stroke: 1px black;
    line-height: 70px;
    padding-bottom: 0px;
    text-shadow: -1px 1px black,
                -2px 2px black,
                -3px 3px black,
                -4px 4px black,
                -5px 5px black,
                -6px 6px black,
                -7px 7px black,
                -8px 8px black;
  }
  .Description{
    padding-left: 150px;
    padding-top: 15px;
    font-size: 20px;
    color: black;
    line-height: 30px;
  }
  .login-signup{
    float: right;
    font-size: 12px;
    font-family: GT America,sans-serif;
    a{
      color: white;
      text-decoration: none;
      padding: 15px;
      color: black;
    }
    .login{
      position: absolute;
      top: 40px;
      right: 70px;
      font-family: GT America,sans-serif;
      .signin{
        padding: 10px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 5px;
        border: 1px solid black;
      }
      span{
        margin: 20px;
        font-size: 14px;
        color: black;
      }
    }
    .signups{
      padding: 13px;
      padding-right: 20px;
      padding-left: 20px;
      margin-top: 70px;
      border-radius: 4px;
      border: 1px solid black;
      background-color: rgba(0,0,0,.5);
      font-size: 19px;
      color: white;

    }
  }
  button.signups:hover{
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
  }
  button.signin{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  button.signin:hover{
    color: rgba(0,0,0,.7);
  }

  .fakeforms{
    padding-left: 150px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
      font-size: 17px;
      color: black;
      font-weight: bold;
      line-height: 40px;
    }
  }

  .forms{
    display: flex;
    flex-direction: row;
    :hover{
      box-shadow: 1px 1px 4px black;
    }
  }

  .fakeform{
    :hover{
      cursor: pointer;
      box-shadow: 10px 10px black;
    }
    :focus{
      outline: 0px;
    }
    background: url(asset_path("expand-arrow.png")) no-repeat white;
    background-size: 15px;
    background-position: 90% 50%;
    width: 160px;
    height: 50px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 10px;


    select{
      background: transparent;
      width: 268px;
      padding: 5px;
      font-size: 19px;
      line-height: 1;
      border: 0;
      height: 50px;
      -webkit-appearance: none;
      text-indent: 10px;
    }
  }
}


.modal-form {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -220px;
  width: 360px;
  padding: 20px;
  background: #f3f5f9;;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
  color: black;
  .errors{
    color: red;
  }
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2{
    font-size: 25px;
  }
}

 .modal-child {
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

input{
  // position: relative;
  // left: 25%;
  // background: #4c7bd9;

  border-radius: 4px;
  padding: 13px;
  min-width: 70%;
  font-size: 15px;
  margin-bottom: 10px;
  border: 1px solid grey;
}

.session-submit{
  width: 85%;
  font-size: 19px;
  color: white;
  background: #3260c7;
  cursor: pointer;

}

.demo-signin{
  padding: 13px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 70px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: rgba(0,255,0,.5);
  font-size: 19px;
  color: white;
  position: absolute;
  left: 150px;
}

button.demo-signin:hover{
  background-color: rgba(0,255,0,.7);
  cursor: pointer;
}
