// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header.profile-container {
  background-color: #FFF0F2;

  .profile {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'GT America',sans-serif;
    font-weight: 300;
    font-size: 35px;

    #top-bar {
      // padding-left: 250px;
      align-items: center;
      display: flex;
      flex-direction: row;
      background-color: #104da1;
      justify-content: center;
      height: 200px;
      // background-size: 100px 100px;

      #profpicture {
        border-radius: 100%;
        width: 180px;
        height: 180px;
        position: relative;
        top: 40px;
      }

      #top-sub-container {
        // background: pink;
        height: 100%;
        width: 58vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px;
        align-items: flex-end;

        #top-info {
          padding-bottom: 30px;
          // align-self: center;
          // width: 100%;
          // padding-left: 200px;
          // padding-top: 120px;
          // display: flex;
          // flex-direction: column;

          #screen-name{
            padding-bottom: 15px;
          }

          #top-sub-info{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 19px;

            #drama-dot{
              color: #9dbaf2;
              position: relative;
              bottom: 5px;
              padding-right: 10px;
              padding-left: 10px;
            }
          }
        }

        #profile-nav-buttons-container{
          padding-bottom: 30px;
          // align-self: center;
          // padding-bottom: 30px;
          // position: relative;
          // bottom: 20px;
          // width: 320px;
          // display: flex;
          // flex-direction: row;

          #profile-nav-buttons{
            padding: 10px;
            border: 1px solid rgba(228,237,253,.55);
            text-decoration: none;
            color: white;
            font-size: 15px;
          }

          #profile-nav-buttons:hover{
            border: 1px solid rgba(228,237,253,.75);
          }
        }

      }

    }

  }
}
